.wrapper {
  height: 100vh;
}

.nav_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav_item {
  height: calc(100% / 0.25);
  align-items: center;
  justify-content: center;
  color: #8d0a0a;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  letter-spacing: 0.2em;
  padding: 20px 10px;
  border: 2px solid #421000;
  border-radius: 5px;
  margin-top: 25px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: none;
  }
}